#quiz-wrap {
	font-family: arial,
  }
  
  #quiz-wrap .question {
	padding: 15px;
	margin: 10px;
	background: lightgreen;
	border: 3px solid white;
  }
  
  #quiz-wrap h1 {
	font-size: 22px;
    margin: 10px 10px;
}
  
  #quiz-wrap label {
	display: block;
	width: 100%;
	font-size: 20px;
	margin-top: 10px;
	color: #333;
  }
  
  #quiz-wrap input[type=submit] {
	background: green;
	color: #fff;
	padding: 10px;
	border-radius: 10px;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 20px;
  }
